<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PublicNumberFans">
	
	<insert id="add" parameterType="PublicNumberFans">
		insert into wxms_public_number_fans(pid,addFans,reduceFans,countDate)
		values(#{pid},#{addFans},#{reduceFans},#{countDate})
	</insert>
	<insert id="addMore">
		insert into wxms_public_number_fans(pid,addFans,reduceFans,countDate)
		values
		<foreach collection="list" separator="," item="u">
			(#{u.pid},#{u.addFans},#{u.reduceFans},#{u.countDate})
		</foreach>
	</insert>
	<update id="update" parameterType="PublicNumberFans">
		update wxms_public_number_fans set
		pid = #{pid},
		addFans = #{addFans},
		reduceFans = #{reduceFans},
		remark = #{remark},
		countDate = #{countDate}
		where id = #{id}
	</update>
	<!-- 根据ID查询 -->
	<select id="queryById" resultType="PublicNumberFans">
		select * from wxms_public_number_fans where id = #{id}
	</select>
	<!-- 查询所有记录 -->
	<select id="queryAll" resultType="PublicNumberFans">
		select * from wxms_public_number_fans 
	</select>
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="map" resultType="PublicNumberFans">
		select * from wxms_public_number_fans limit #{start},#{pageSize}
	</select>
	
	
	<!-- 查询总记录数 -->
	<select id="getTotals" resultType="int">
		select count(*) from wxms_public_number_fans
	</select>
	<!-- 删除记录 -->
	<delete id="deleteById">
		delete from wxms_public_number_fans where id = #{id}
	</delete>
	<!-- 删除多条记录 -->
	<delete id="deleteMore">
		delete from wxms_public_number_fans where id in
		<foreach collection="array" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>
	
</mapper>

